@page "/"
@model Otthonbazar.Pages.Advertisements.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>

<div class="container">
    <div class="row">
        <section class="col-lg-4">
            <h2>Keresés</h2>
            <form class="form-horizontal">
                <div class="form-group row">
                    <label class="col-xs-12">Város</label>
                    <div class="col-xs-12 col-md-12">
                        <div class="input-group">
                            <input asp-for="Search.CityName" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xs-12">Ár</label>
                    <div class="col-xs-5">
                        <div class="input-group">
                            <input asp-for="Search.PriceMin" class="form-control" />
                            <span class="input-group-addon">M Ft</span>
                        </div>
                    </div>
                    <span class="col-xs-2 text-center">&ndash;</span>
                    <div class="col-xs-5">
                        <div class="input-group">
                            <input asp-for="Search.PriceMax" class="form-control" />
                            <span class="input-group-addon">M Ft</span>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xs-12">Alapterület</label>
                    <div class="col-xs-5">
                        <div class="input-group">
                            <input asp-for="Search.SizeMin" class="form-control" />
                            <span class="input-group-addon">m2</span>
                        </div>
                    </div>
                    <span class="col-xs-2 text-center">&ndash;</span>
                    <div class="col-xs-5">
                        <div class="input-group">
                            <input asp-for="Search.SizeMax" class="form-control" />
                            <span class="input-group-addon">m2</span>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xs-12">Szobák</label>
                    <div class="col-xs-5">
                        <div class="input-group">
                            <input asp-for="Search.RoomMin" class="form-control" />
                            <span class="input-group-addon">szoba</span>
                        </div>
                    </div>
                    <span class="col-xs-2 text-center">&ndash;</span>
                    <div class="col-xs-5">
                        <div class="input-group">
                            <input asp-for="Search.RoomMax" class="form-control" />
                            <span class="input-group-addon">szoba</span>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-3">
                        <input type="submit" value="Keresés" class="btn btn-default" />
                    </div>
                </div>
            </form>
        </section>
        <section class="col-lg-8">
            <h2>Hirdetések</h2>
            <div class="row">
                @foreach (var item in Model.Advertisement) {
                    <div class="col-sm-6 col-lg-4 mb-3">
                        <article>
                            <a asp-page="Details" asp-route-id="@item.Id">
                                <img class="card-img-top img-responsive" src="~/images/@item.ImageUrl" alt="https://via.placeholder.com/340x255" title="Picture" />
                            </a>
                            <h5 class="lead ">
                                <b>@item.Price MFt </b>@(item.Size) m2
                            </h5>
                            <p><b>@item.City.Zip @item.City.Name @item.Address</b></p>
                            <p><i>@Html.DisplayFor(advert => item.AdvertisementType)</i></p>
                            <p style="display:inline" class="lead pull-left "><b>Szobák:</b></p>
                            <p style="display:inline" class="lead pull-right">@item.Room</p>
                        </article>
                    </div>
                }
            </div>
        </section>
    </div>
</div>