@page "/"
@model Otthonbazar.Pages.Advertisements.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>

<div class="container">
    <div class="row">
        <section class="col-lg-4">
            <h2>Keresés</h2>
        </section>
        <section class="col-lg-8">
            <h2>Hirdetések</h2>
            <div class="row">
                @foreach (var item in Model.Advertisement) {
                    <div class="col-sm-6 col-lg-4 mb-3">
                        <article>
                            <img class="card-img-top img-responsive" src="~/images/@item.ImageUrl" alt="https://via.placeholder.com/340x255" title="Picture" />
                            <h5 class="lead ">
                                @item.Price MFt @(item.Size) m2
                            </h5>
                            <p><b>@item.City.Zip @item.City.Name @item.Address</b></p>
                            <p><i>@item.AdvertisementType</i></p>
                            <p style="display:inline" class="lead pull-left "><b>Szobák:</b></p>
                            <p style="display:inline" class="lead pull-right">@item.Room</p>
                        </article>
                    </div>
                }
            </div>
        </section>
    </div>
</div>